/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.headersection {
    background: #262626;
}

.navbar-default {
    background-color: #262626;
    border-color: #262626;
}

.navbar-default .navbar-nav>li>a {
    color: #d9d9d9;
    font-size: 13px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ea6660;
}

.navbar {
    padding: 15px;
    margin-bottom: 0;
}

.bannersection {
    background: #2a2a2a;
    padding: 60px 0;
}

.banner {}

.banner h2 {
    font-family: "Lato", sans-serif;
    font-size: 60px;
    color: #d9d9d9;
}

.banner p {
    font-size: 40px;
    font-weight: normal;
    font-family: "Lato", sans-serif;
    color: #d9d9d9;
}

.mybutton {
    background: none repeat scroll 0 0 #ea6660;
    border: 0 none;
    color: #fff;
    font-size: 25px;
    margin-top: 45px;
    padding: 10px 30px;
    text-transform: uppercase;
}


/*Service*/

.service-section {
    background: #F8F8F8;
    padding: 90px 0;
    color: #616161;
}

.same-service {
    margin-right: 20px;
}

.same-service i {
    font-size: 70px;
    padding-bottom: 20px
}

.same-service h4 {
    font-weight: bold;
}

.same-service p {
    font-size: 16px;
    line-height: 25px
}


/*Portfolio*/

.portfolio-section {
    padding: 90px 0;
}

.our-fortfolio {}

.our-fortfolio h2 {
    font-weight: bold;
    font-size: 40px;
    margin-top: 0;
}

.our-fortfolio p {
    font-size: 20px;
    margin-bottom: 40px;
}


/*Sort and filter*/

* {
    box-sizing: border-box;
}


/* ---- button ---- */

.button {
    display: inline-block;
    padding: 0.5em 1em;
    background: #ff6760;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    text-shadow: 0 1px white;
    cursor: pointer;
    text-transform: uppercase;
}

.button:hover {
    background-color: #595959;
    text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
    color: #fff;
}

.button:active,
.button.is-checked {
    background-color: #595959;
}

.button.is-checked {
    color: white;
    text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}


/* ---- button-group ---- */

.button-group {
    margin-bottom: 20px;
}

.button-group:after {
    content: '';
    display: block;
    clear: both;
}

.button-group .button {
   border-radius: 5px;
    margin-left: 0;
    margin-right: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    
}




/* ---- isotope ---- */

.grid {}


/* clear fix */

.grid:after {
    content: '';
    display: block;
    clear: both;
}


/* ---- .element-item ---- */

.element-item {
    position: relative;
    float: left;
    width: 25%;
    border: 5px solid #fff;
}

.element-item img {
    width: 100%;
}



/*Contact*/

.contact-section{
    padding: 60px 0; 
    background: #313131;
    color: #e0e0e0;
}

.contact{}

.contact h2{
    color: #e0e0e0; 
    font-weight: bold; 
}

.contact h4{
    font-size: 20px;
    padding: 15px 0;
}

.our-address{
    font-size: 15px;
    max-width: 445px;
    margin: 0 auto;
    overflow: hidden;
}

.address{
    float: left;
    font-size: 14px !important;
    margin-right: 30px;
    background: url(../img/location.jpg)no-repeat scroll 0px 2px;
    padding-left: 20px;
}

.phone{
   float: left;
    font-size: 14px !important;
    background: url(../img/phone.png)no-repeat scroll 0px 2px;
       padding-left: 20px;
}


.social{
    margin-top: 25px;
}

.social i{
    
    padding: 10px;
    font-size: 20px;
    color: #000;
    margin-right: 10px;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    padding-top: 17px;
   
}

.fb{
    background: #5883c0;
    
}

.tw{
    background: #63bee0;
}

.ins{
    background:#605858;
}

.pin{
    background: #d35051;
    
}

.gog{
    background: #fff
}



/*Footer*/


.footer-section{
    background: #2c2c2c;
    padding: 35px 0;
}

.footer-section p{
    color: #bebebe;
    font-size: 14px;
    margin-bottom: 0;
}










/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
